.hero {
  position: relative;
  display: flex;
  align-items: center;
  min-height: 330px;
  background-size: cover;
  background-position: center;
  @include breakpoint(large) {
    min-height: 630px;
  }


  &__arrow {
    position: relative;
    top: 30px;
    @include breakpoint(large) {
      top: 100px;
    }
  }
  &__title {
    font-family: $font-primary;
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: normal;
    color: $white;
    @include breakpoint(large) {
      font-size: 3.75rem;
    }
  }

  & .watermark {
    position: absolute;
    right: 100px;
    bottom: 0;
  }
}