$red: red;
$green: green;
$yellow: yellow;
$black: black;
$white: white;
$primary-color: #021534;
$secondary-color: #305883;
$alternate-color: #607177;
$dark-blue-gray: #0d1935;
$dark-gray: #4b515e;

$section-gray: #F6F8F9;

$radius-default: 2px;

$font-primary: "Inter", serif;
$font-secondary: "Manrope",serif;
